<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(titletext)" lang="en">
<title th:text="${titletext}">Title</title>
</head>
<body>

	<div th:fragment="navbar">
		<nav>
			<a class="nav-link" href="/">Home</a> <span
				sec:authorize="isAuthenticated()"> <a class="nav-link"
				th:href="@{/student/{id}(id=${account.id})}">My Grades</a> <a
				class="nav-link" href="/course">Courses</a> <a
				class="nav-link" href="/grades">Teachers Lounge</a> <a
				class="nav-link" href="/logout">Logout</a>
			</span> <span sec:authorize="isAnonymous()"> <a class="nav-link"
				href="/login">Login</a>
			</span>
		</nav>
	</div>

</body>
</html>
