<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/template :: head(titletext='Grade system')">
</head>
<body>


	<div th:replace="fragments/template :: navbar"></div>

	<h1>Study register application</h1>

	<p>Students can see their submissions to courses and what grades
		they have received. The students can log in and see their own
		information. There is also a page for the courses where students can
		give feedback about the courses.</p>
	<p>Teachers can got the the "teachers lounge" area where they can
		give students grades to the courses. Also teachers can participate in
		the discussion about the courses in the course-pages.</p>

	<p>
	<div>Login as student:</div>
	<div>
		<b>Username: </b> Haxor Student </br><b>Password:</b> password
	</div>
	 </br>
	<div>Login as teacher:</div>
	<div>
		<b>Username: </b> Mr. Leet  </br> <b>Password:</b> password
	</div>
	</p>




</body>
</html>
