<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/template :: head(titletext='Courses')">
</head>
<body>


	<div th:replace="fragments/template :: navbar"></div>


	<h1>Welcome to the teachers lounge!</h1>
	<h3>Give students grades in the courses listed below:</h3>

	<div th:each="course : ${courses}">
		<h2>
			<span th:text="${course.name}"> Course </span>
		</h2>

		<div th:each="submission : ${course.submissions}">
			<div>
				<b>Student:</b> <span th:text="${submission.account.name}">Student
					Name</span>
			</div>
			<div>
				<b>Student Id:</b> <span th:text="${submission.account.id}">Student
					Id</span>
			</div>
			<div>
				<b>Grade: </b><span th:text="${submission.grade}">Student
					Grade</span>
			</div>
			<form action="#"
				th:action="@{/student/{id}/grade(id=${submission.account.id})}"
				method="POST">
				<input type="hidden" th:value="${submission.id}" name="submissionid" />
				<b>Give a grade: </b> <select name="grade">
					<option type="text" value="0">0</option>
					<option type="text" value="1">1</option>
					<option type="text" value="2">2</option>
					<option type="text" value="3">3</option>
					<option type="text" value="4">4</option>
					<option type="text" value="5">5</option>
				</select> <input type="submit" value="Update grade" />
			</form>
			</br>
		</div>

	</div>




</body>
</html>
