<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/template :: head(titletext='Student page')">
</head>
<body>

	<div th:replace="fragments/template :: navbar"></div>


	<h1>Student information</h1>

	Authenticated username:
	<div sec:authentication="name"></div>
	Authenticated user roles:
	<div sec:authentication="principal.authorities"></div>

	Student name:
	<span th:text="${account.name}"> Name </span> Student id:
	<span th:text="${account.id}"> Name </span>

	<h2>Courses and grades:</h2>
	<div th:each="courseSubmission : ${account.courseSubmissions}">
		Course: <span th:text="${courseSubmission.course.name}"> Course
			name</span> Grade : <span th:text="${courseSubmission.grade}"> Course
			grade</span>
	</div>



</body>
</html>
